<!DOCTYPE html>
<html>
<head>
<title></title>
<style>
	table{
		width: 20%;
		border:1px solid #444444;
	}
	
	th, td{
		border: 1px solid #444444;
	}
</style>
</head>
<body>
	<h2>RnNe's Command bot</h2>
	<a href="/write">Write</a><p>
	<table>
	<% for(var i=0; i<posts.length; i++) { %>
	<tr>
	<td><%= posts[i].command %> </td>
	<td><%= posts[i].explain %></td>
	</tr>
	<% } %>
</table>
</body>
</html>